body {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

button {
  padding: 0.5rem 1rem;
  margin-left: 10px;
}
#qrCodeContainer img {
  margin-top: 2rem;
  border: 1px solid #ccc;
  padding: 10px;
}
